a {
  text-decoration: none !important;
}
div {
  max-width: 100%;
  overflow: hidden;
}
.div-svg {
  width: 100%;
  fill: #e9ecef;
  margin-bottom: -290px;
}

.fim-div-svg {
  background-color: #e9ecef;
  width: 100%;
  fill: #fff;
}

#faq {
  margin-top: -30%;
}

#card_img {
  margin-bottom: -220px;
}

@media screen and (max-width: 1024px) {
  .div-svg {
    margin-bottom: -150px;
  }
  #card_img {
    margin-bottom: -180px;
  }
}

@media screen and (max-width: 768px) {
  .div-svg {
    margin-bottom: -50px;
  }
  #card_img {
    margin-bottom: -120px;
  }
}
